<!-- <div class="ui inverted dimmer" [class.active]="loading">
  <div class="ui text loader">Loading ...</div>
</div> -->

<div class="jumbotron bg-white text-center p-0 m-0">
  <h1 class="display-4">Corona Covid-19 Tracker</h1>
  <hr />

  <!-- !! 把下面註解的部分另外做一個 component, 然後在 component 用 @Input 接資料 -->
  <app-dashboard-card
    [totalConfirmed]="totalConfirmed"
    [totalActive]="totalActive"
    [totalRecovered]="totalRecovered"
    [totalDeaths]="totalDeaths"
  ></app-dashboard-card>
</div>

<hr />
<div class="ui form">
  <div class="inline fields">
    <label for="fruit">Select Case Type : </label>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          id="c"
          #c
          (click)="updateChartHandler(c)"
          value="c"
          name="casetype"
          checked=""
          tabindex="0"
          class="hidden"
        />
        <label for="c">Confirmed</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          value="d"
          #d
          (click)="updateChartHandler(d)"
          id="d"
          name="casetype"
          tabindex="0"
          class="hidden"
        />
        <label for="d">Deaths</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          type="radio"
          value="r"
          #r
          (click)="updateChartHandler(r)"
          id="r"
          name="casetype"
          tabindex="0"
          class="hidden"
        />
        <label for="r">Recovered</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input
          id="a"
          #a
          type="radio"
          (click)="updateChartHandler(a)"
          value="a"
          name="casetype"
          tabindex="0"
          class="hidden"
        />
        <label for="a">Active</label>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col"><google-chart [data]="pieChart"></google-chart></div>
  <div class="col"><google-chart [data]="columnChart"></google-chart></div>
</div>

<!-- <div class="row">
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        <h3>Confirmed</h3>
      </div>
      <div class="value">
        {{ totalConfirmed }}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        <h3>Recovered</h3>
      </div>
      <div class="value">
        {{ totalRecovered }}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        <h3>Deaths</h3>
      </div>
      <div class="value">
        {{ totalDeaths }}
      </div>
    </div>
  </div>
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        <h3>Active</h3>
      </div>
      <div class="value">
        {{ totalActive }}
      </div>
    </div>
  </div>
</div> -->
